@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; 
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container{
  max-width: 100!important;
  width: 100%;
  height: 500px;
  perspective: 1000;
  -webkit-perspective: 1000;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.coverflow {
  position: absolute;
  top: 50%;
  left: 50%;
  backface-visibility: visible;
  transform: scale(1) translateZ(-400px);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

.coverflow-item{
  width: 500px;
  height: 350px;
  transform-origin: 50% 50%;
  position:absolute;
  backface-visibility: visible;
  top: -175px;
  left: -250px;
  border: 2px solid #eee;
  border-radius:8px;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1.25s all cubic-bezier(.17, .75, .58, .95);
  -webkit-box-shadow: 0px 10px 27px -1px rgba(0, 0, 0 0.7);
  -moz-box-shadow: 0px 10px 27px -1px rgba(0, 0, 0 0.7);
  box-shadow: 0px 10px 27px -1px rgba(0, 0, 0 0.7);
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.faArrowLeft, .faArrowRight {
  cursor: pointer;
  z-index: 10;
}

.pagination-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination-item {
  margin: 0 5px;
  cursor: pointer;
}

.pagination-item.active {
  color: #60BCEA;
}

@media (max-width: 768px) {
  .container {
    height: 300px;
  }

  .coverflow-item {
    width: 300px;
    height: 210px;
    top: -105px;
    left: -150px;
  }

  .coverflow-item img {
    width: 100%;
    height: auto;
  }
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(75, 85, 99, 0.8);
  color: white;
  text-align: center;
  padding: 1rem 0;
}